.body {
}

/* container around the campuses home view */
.campus-wrapper {
  display: flex;
  max-width: 50%;
}

.campus {
  flex: 2;
  background-color: #C1B5AD;
  margin: 2em;
}

 h2 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

/* just the student table */
.students-table {
  background-color: greenyellow;
  padding: 2em;
  margin: 4em;
  flex: 2;
}

/* wrapper around Students Home */
.students-container {
display: flex;
}

/* form for adding people */
.add-person {
  flex: 1;
  max-width: 30%;
  background-color: lightblue
}

